.container {
  max-width: 1000px;
  margin: 100px auto;
  background-color: #aaa;
  padding: 0 20px;
}

.card {
  padding: 20px;
  background-color: #ffa;
}
.card+.card{
  margin-top: 10px;
}

.card-img img {
  width: 100%;
  object-fit: cover;
}


/* header 平板以上 */
@media (min-width: 768px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .card+.card:nth-child(2){
    margin-top: 0px;
  }
}
@media (min-width: 1024px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  .card+.card:nth-child(3),.card+.card:nth-child(2){
    margin-top: 0px;
  }

}