:root {
  --main-color: #ff5722;
  --second-color: #064c8c;
  --text-color: #ffffff;
  color: #5a5a5a;
}
body {
  padding-top: 90px;
  font-size: 16px;
}
body::selection {
  background-color: var(--main-color);
  color: #ffffff;
}
/*font start*/
.h80{
  line-height: 80px;
}
.h40{
  line-height: 40px;
}
.center{
  text-align: center;
}
.font-main {
  color: var(--main-color);
}
.font-second {
  color: var(--second-color);
}
.font-44px {
  font-size: 44px;
}
.font-32px {
  font-size: 32px;
}
.font-24px {
  font-size: 24px;
}
.font-20px {
  font-size: 20px;
}

.font-bold {
  font-weight: 700;
}
.eng {
  font-family: "arial black", sans-serif;
}
.color-black {
  color: #000000;
}
/*font end*/
/* margin start*/
.mg-b-10px {
  margin-bottom: 10px;
}
.mg-b-40px {
  margin-bottom: 40px;
}
.mg-b-60px {
  margin-bottom: 60px;
}
.mg-b-70px {
  margin-bottom: 70px;
}
.mg-b-80px {
  margin-bottom: 80px;
}
/* margin end*/
/* tag start*/
section {
  max-width: 1160px;
  margin: 0 auto;
}
button {
  margin: 30px auto;
  padding: 12px 20px;
  background-color: var(--second-color);
  color: #ffffff;
  border-radius: 7px;
  display: block;
  cursor: pointer;
}
button:hover{
  background-color: var(--main-color);
}
header {
  width: 100%;
  background-color: #ffffff;
  height: 90px;
  position: fixed;
  top: 0px;
  z-index: 2;
  box-shadow:1px 0px 5px#5a5a5a;
}
/* tag end*/
button.try{
  margin: 0px 5px 5px 0px;
}
.head-nav {
  height: 100%;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}
li {
  display: inline-block;
  padding: 0px 10px;
}
.nav-list li:hover {
  color: var(--main-color);
}

.nav-btn {
  background-color: #da3743;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 20px;
}
.intro-bg {
  background-image: url(/inline-app/bg-img/1.webp) ;
  aspect-ratio:3000/1100;
  background-size: cover;
  background-position: center;
}
div.intro {
  width: 600px;
  padding: 120px 0px 80px 0px;
}


.world-bg {
  background: url(/inline-app/bg-img/2.webp) ;
  aspect-ratio:1633/637;
  background-size: cover;
  background-position: center;
  position: relative;
}

.world p {
  position: absolute;
  top:25%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.dd{
  width: 100%;
  height: 60px;
}
.text p {
  margin-bottom: 40px;
}
.text p + p {
  margin-bottom: 70px;
}
.feat1-bg {
  background-image: url(/inline-app/bg-img/3.webp) ;
  background-size: cover;
  background-position: center;
}

.feature1 div ,.feature2-1 div, .feature2-2 div, .bottom .left, .bottom .right{
  width: 50%;
}
.feature1,.feature2-1, .feature2-2, .bottom{
  display: flex;
  align-items: center;
}
.ff{
  display: flex;
}
.feat2-bg {
  background-image: url(/inline-app/bg-img/4.webp) ;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}




h1+nav{
  display: flex;
  justify-content: center;

}
.form-bg {
  background-image: url(/inline-app/bg-img/5.webp) ;
  background-size: cover;
  background-position: center;
}
form{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 20px;
}

input, select, option{
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 480px;
}

label>p, input,select{
  margin-top: 15px;
}

.bottom .left,.bottom .right{
  text-align: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  
}
.bottom .left{
  border-right: #5a5a5a 1px solid;
}
#ccc{
  display: inline;
  margin: 20px auto;
}
.ff{
  background-color: #252932;
}

.f1, .f2, .f3, .f4{
  width: 25%;
  padding: 20px 20px;
  color: #E3E6ED;
}


.nav-item {
  position: relative; /* 很重要，要給::after定位的基準 */
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* 緊貼元素底部 */
  width: 0%;
  height: 3px;
  background-color: var(--main-color); /* 下底線顏色 */
  transition: width 0.3s ease;
}
.imgg{

  padding-left: 70px;
  position: relative;
}
.imgg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; 
  width: 60px;
  height: 60px;
  background-image:url(https://inline.company/wp-content/uploads/2018/05/rsv_01@2x.png) ; 
  background-size: contain;
  background-position: center;
}

.nav-item:hover::after {
  width: 100%; /* 滑過去展開底線 */
}

.i{
font-size: 27px;
letter-spacing: 10px;
text-align: right;
padding-right: 20px;

}
i:hover{
  color: var(--main-color);
}

.cc{
  background-color: #191C23;
  display: flex;

}
.i, address{
  width: 50%;
}